/* #region Common */

body {
    height: 100vh;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
}

:root {
    --bootstrap-d-main-top-bg: rgba(27, 114, 232, 1);
    --bootstrap-d-site-bg: rgba(248, 249, 250, 1);
    --bootstrap-d-sticker-done: rgba(25, 135, 84, 1);
    --bootstrap-d-sticker-process: rgba(255, 193, 7, 1);
    --bootstrap-d-sticker-failder: rgba(220, 53, 69, 1);
    --bootstrap-d-header-last-icon: rgba(255, 143, 0, 1);
    --bootstrap-d-header-icons: rgba(91, 88, 88, 1);
    --bootstrap-d-side-bar: rgba(5, 30, 52, 1);
}

/* #endregion Common */

/* #region Utility */



/* #endregion Utility */

/* #region Header */

.small_logo {
    width: 45px;
}

.bell {
    color: var(--bootstrap-d-header-last-icon);
}

/* #endregion Header */

/* #region Main */
.site-main {
    display: flex;
}

.side-bar {
    height: calc(100vh - 54px);
    width: 10%;
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--bootstrap-d-side-bar);
}

.top-main {
    color: white;
    height: 120px;
    background-color: var(--bootstrap-d-main-top-bg);
}

#scroll {
    overflow-y: scroll;
    height: 100vh;
}

#grow {
    flex-grow: 2;
}

/* #endregion Main */